page-onboarding {
  &>ion-content {
    // background-image: $onboarding-welcome-bg, $onboarding-background-image;
    background: rgba(248, 250, 251, 1);

    .card {
      position: relative;
      padding: 42px 15px;
      overflow: visible;
      margin-bottom: 30px;

      &:first-child {
        margin-top: 56px;
      }

      h1 {
        font-size: 32px;
        font-weight: 500;
        color: rgba(87, 167, 86, 1);
        line-height: 36px;
        margin-bottom: 14px;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        color: rgba(110, 118, 125, 1);
        line-height: 18px;
      }

      img{
        max-width: 100px;
      }
    }

    .card:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 80%;
      left: 10%;
      bottom: -10px;
      height: 40px;
      background: linear-gradient(270deg, rgba(11, 54, 74, 1) 0%, rgba(11, 77, 74, 1) 100%);
      opacity: 0.2;
      filter: blur(10px);
    }

    .hint {
      font-size: 15px;
      font-weight: 400;
      color: rgba(163, 173, 180, 1);
      line-height: 18px;
      padding: 0 15px;
      text-align: center;
    }

    .changeLanguage {
      padding: 15px;

      // >button {
      //   background: #DEE5EA;
      // }
    }
  }
}