page-wallet-name {
  .settings-explanation {
    padding: 16px;

    .settings-heading {
      font-size: 17px;
      margin: 1rem 0;
    }

    .settings-description {
      font-size: 12px;
    }


  }

  .header-option {
    color: #57A756;
    background: transparent;
    font-size: 17px;
  }

  .header-ios .toolbar-background {
    background: transparent !important;
  }
}