page-fee-policy {
  .explanation {
    margin: 1rem 0;
  }

  .description {
    margin: 1rem 0;
    font-size: 12px;
    color: color($colors, grey);
  }

  .estimates {
    padding-bottom: 10px;
  }

  .fee-minutes,
  .fee-rate {
    font-weight: bold;
  }

  .error {
    color: color($colors, danger);
  }

  .toolbar-background-md {
    background: transparent;
  }

  .content-md,
  page-fee-policy ion-list {
    background: rgba(248, 250, 251, 1);
  }

  .item-radio-checked.item-md ion-label,
  .item-md ion-label,
  .item-radio-checked.item-ios ion-label {
    color: rgba(20, 42, 63, 1);
  }

  .radio-icon.radio-checked {
    background: url('../assets/img/settings-icons/icon_checkmark@2x.png')
      no-repeat center;
    background-size: contain;
    border: none;
  }

  .radio-checked .radio-inner {
    background: transparent !important;
    border: none !important;
  }

  .radio-icon {
    border: none;
  }

  ion-list {
    padding-left: 50px;
    background: rgba(248, 250, 251, 1);
  }

  .settings-list .item {
    padding-left: 0px;
    border-bottom: 1px solid rgba(229, 232, 234, 1);
  }

  .settings-list .item {
    background: transparent;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #142a3f;
  }

  .customized-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    // -webkit-box-pack: center;
    -webkit-justify-content: space-around;
    // -ms-flex-pack: center;
    justify-content: space-around;
    border-top: 0.55px solid rgba(0, 0, 0, 0.1);
    // opacity: 1;
    padding-top: 5px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    & > a.actiove {
      color: #1abb9b;
    }

    & > a {
      min-height: 41px;
      color: #cbd0d3;
      max-width: 15vw;
      min-width: 80px;
      // max-width: 240px;
      // min-height: 49px;
      font-size: 10px;
      font-weight: 500;
      padding: 0 2px;
      margin: 0;
      text-align: center;
      border-radius: 0;
      position: relative;
      z-index: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 0;
      text-decoration: none;
      background: none;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
