<ion-header no-border>
  <ion-navbar hideBackButton="true"></ion-navbar>
</ion-header>
<ion-content no-bounce>
  <div class="container">
    <h3 *ngIf="resume" class="title" translate>Please Note!</h3>
    <h3 *ngIf="!resume" class="title" translate>Almost done! Let's review.</h3>
    <!--
      <p class="top-description" translate>Cryptocurrency doesn’t possessed by any bank or internet service. </p>
    -->
    <ion-list class="checkbox-list" no-lines>
      <ion-item>
        <ion-label>
          {{
            'Cryptocurrency doesn’t possessed by any bank or internet service. '
              | translate
          }}
        </ion-label>
        <ion-checkbox [(ngModel)]="accepted.first"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          {{
            'My funds are stored on the blockchains, not companies nor this device.'
              | translate
          }}
        </ion-label>
        <ion-checkbox [(ngModel)]="accepted.second"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>
          {{
            'If this app is deleted, my assets can only be recovered with the recovery phrase.'
              | translate
          }}
        </ion-label>
        <ion-checkbox [(ngModel)]="accepted.third"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="checkbox-list">
      <!--
        <div *ngIf="accepted.first && accepted.second && accepted.third">
          <ion-item no-lines>
            <ion-label>
              {{
                'I have read, understood, and agree to the Terms of Use.'
                  | translate
              }}
            </ion-label>
            <ion-checkbox [(ngModel)]="terms.accepted"></ion-checkbox>
          </ion-item>
          <a class="externalLink" (click)="openDisclaimer()" translate
            >Terms of Use</a
          >
        </div>
      -->
      <button
        ion-button
        class="button-standard"
        [disabled]="!accepted.first || !accepted.second || !accepted.third"
        (click)="confirm()"
      >
        <span translate>Confirm &amp; Finish</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
