page-language {
  .toolbar-background-md {
    background: transparent;
  }

  item-radio-checked.item-md ion-label,
  .item-md ion-label,
  .item-radio-checked.item-ios ion-label {
    color: rgba(20, 42, 63, 1);
  }

  .radio-icon.radio-checked {
    background: url('../assets/img/settings-icons/icon_checkmark@2x.png')
      no-repeat center;
    background-size: contain;
    border: none;
  }

  .radio-checked .radio-inner {
    background: transparent !important;
    border: none !important;
  }

  .radio-icon {
    border: none;
  }

  ion-list {
    padding-left: 50px;
    background: rgba(248, 250, 251, 1);
  }

  .settings-list .item {
    padding-left: 0px;
    border-bottom: 1px solid rgba(229, 232, 234, 1);
  }

  .settings-list .item {
    background: transparent;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #142a3f;
  }
}
