tabs-bar {
  left: 0;
  position: fixed;
  display: block;
  width: 100%;
  overflow: hidden;
  z-index: 111;
  bottom: 0;
  height: calc(50px + env(safe-area-inset-bottom));
  box-shadow: 0px -1px 6px 0px rgba(0, 33, 71, 0.11);
  background: white;
  .common-tabs-bar {
    left: 0;
    bottom: env(safe-area-inset-bottom);
    // position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    .tab-btn {
      margin: 0;
      text-align: center;
      border-radius: 0;
      position: relative;
      z-index: 0;
      display: flex;
      overflow: hidden;
      flex: 1;
      flex-direction: column;
      align-items: center;
      align-self: center;
      justify-content: center;
      border: 0;
      text-decoration: none;
      background: none;
      cursor: pointer;
      user-select: none;
      ion-icon {
        background: white;
        height: 2.4rem !important;
        width: 2.4rem !important;
        margin-bottom: 2px;
      }
      .tab-btn-text {
        display: block;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        color: #cbd0d3;
      }
    }
    .tab-btn.active {
      .tab-btn-text {
        color: #57a756;
      }
    }
  }
}
