<ion-header>
  <ion-navbar>
    <ion-buttons left> <button class="header-option" (click)="cancel()" [disabled]="addressBookAdd.invalid">{{ 'Cancel' | translate }}</button> </ion-buttons>
    <ion-buttons end> <button class="header-option" (click)="save()" [disabled]="addressBookAdd.invalid">{{ 'Save' | translate }}</button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="addressBookAdd" class="add-address-info-box">
    <ion-item>
      <ion-label stacked>{{ 'Name' | translate }}</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'Email' | translate }}</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-icon
      *ngIf="
        addressBookAdd.value.email &&
        addressBookAdd.controls.email.status == 'INVALID'
      "
      class="check fail"
      name="ios-close-circle"
      item-right
    ></ion-icon>
    <ion-item>
      <ion-label stacked>{{ 'Address' | translate }}</ion-label>
      <ion-input formControlName="address" type="text" [value]="addressBookAdd.value.address" address-validator class="input-check"></ion-input>
    </ion-item>
    <ion-icon *ngIf="addressBookAdd.controls.address.status == 'VALID'" name="ios-checkmark-circle" class="check success" item-right></ion-icon>
    <ion-icon
      *ngIf="
        addressBookAdd.value.address &&
        addressBookAdd.controls.address.status == 'INVALID'
      "
      class="check fail"
      name="ios-close-circle"
      item-right
    ></ion-icon>
  </form>
</ion-content>
