page-password-modal {
  .header-option {
    color: #57a756;
    background: transparent;
    font-size: 17px;
  }

  ion-input {
    margin-top: 36px;
    padding: 0 16px;
  }

  ion-input .text-input {
    border: none;
    height: 40px;
    background: #eceff1;
    border-radius: 4px;
    line-height: 40px;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 8px 16px;
  }

  .hint {
    font-size: 13px;
    font-weight: 400;
    color: rgba(145, 153, 158, 1);
    line-height: 20px;
    padding: 0 16px;
  }
}
