page-home {
  // background: $toolbar-background;
  .clearfix:before,
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }

  .label-md {
    margin: 0;
  }

  .scroll-content .wrapper {
    height: fit-content;
  }

  ion-content {
    background: linear-gradient(
        270deg,
        rgba(29, 33, 69, 0) 0%,
        rgba(4, 9, 45, 0.62) 100%
      ),
      url('../assets/img/img_bg_pattern.png') repeat-x;
  }

  ion-content.has-refresher > .scroll-content {
    background: transparent;
  }

  .scroll-content .wrapper {
    margin-top: 68px;
    padding-bottom: 60px;
    // height: 100%;
  }

  .scroll-content,
  .fixed-content {
    background-image: none !important;
  }

  // top content
  .header-extend {
    background: transparent;
  }

  ion-navbar h1 {
    display: inline;
    font-size: 28px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 33px;
  }

  .scan-btn,
  .swap-btn,
  .addr-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: right;
  }

  .scan-btn {
    background: url('../assets/img/tab-icons/icon_scan@2x.png') no-repeat center;
    background-size: 100% 100%;
    margin-right: 20px;
  }

  .swap-btn {
    background: url('../assets/img/tab-icons/icon_swap@2x.png') no-repeat center;
    background-size: 100% 100%;
    margin-right: 20px;
  }

  .addr-btn {
    background: url('../assets/img/tab-icons/icon_contact@2x.png') no-repeat
      center;
    background-size: 100% 100%;
  }

  #chart {
    width: 128px;
    height: 128px;
    float: left;
  }

  .account-detail {
    color: rgba(203, 208, 211, 1);
    overflow: hidden;

    & > p {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 0;
    }

    h2 {
      margin: 4px 0 22px 0;
      font-size: 22px;
      line-height: 24px;
    }

    .chart-legend {
      a {
        display: inline-block;
        width: 48%;
        background: none;
        color: rgba(255, 255, 255, 0.7);

        b {
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
        }

        span {
          display: inline-block;
          width: 11px;
          height: 11px;
          // background: rgba(139, 75, 247, 1);
          border: 2px solid rgba(255, 255, 255, 1);
          border-radius: 50%;
          margin-right: 6px;
        }
      }
    }
  }

  // card part
  .card {
    padding-top: 0px;
    width: 100%;
    padding-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    background-color: transparent;

    ion-list {
      position: relative;
      width: 100%;
    }

    .item {
      width: 92%;
      padding-top: 1px;
      padding-left: 10px;
      padding-bottom: 10px;
      box-shadow: 0 7px 12px rgba(0, 0, 0, 0.06);
      overflow: hidden;
      margin: 20px auto;
      display: block;
      border-radius: 4px;
      background-color: #ffffff;

      .item-img {
        img {
          width: 34px;
          height: 34px;
          padding: 0;
          background-color: transparent;
        }
      }

      .item-inner {
        border: none;
      }

      ion-icon {
        float: left;
        margin-top: 23px;
        margin-bottom: 0;
      }

      .item-subtitle {
        ion-icon {
          float: none;
          margin-top: 0px;
        }

        .dollar-value {
          float: right;
        }
      }
    }
  }

  // .card:after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   width: 80%;
  //   left: 10%;
  //   bottom: -10px;
  //   height: 40px;
  //   background: linear-gradient(270deg, rgba(11, 54, 74, 1) 0%, rgba(11, 77, 74, 1) 100%);
  //   opacity: 0.2;
  //   filter: blur(10px);
  // }

  // .tabs-card:after{
  //   bottom: -4px;
  //   height: 22px;
  // }

  .tabs-card {
    height: 30px;

    .list-header.tabs-wrapper {
      padding: 0 10px;
      line-height: 48px;
      position: relative;
      top: -18px;

      .tab-btn {
        display: inline-block;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: rgba(197, 197, 197, 1);
        line-height: 20px;
        padding: 0 17px;
        margin-right: 2px;
        padding: 0 17px;

        &.active {
          color: #fff;
          background: rgba(110, 118, 125, 1);
          border-radius: 10px;
        }
      }

      .import-btn {
        margin-top: 15px;
        float: right;
        width: 18px;
        height: 18px;
        line-height: 18px;

        img {
          width: 18px;
        }
      }
    }
  }

  ion-list {
    .item-title {
      span.amount {
        float: right;
      }

      span.name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 138px;
      }
    }
  }

  .item-ios[detail-push] .item-inner,
  button.item-ios:not([detail-none]) .item-inner,
  a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
    padding-right: 16px;
  }

  button ion-label,
  .label-ios {
    margin: 0px;
    padding-top: 18px;
  }

  .home-logo {
    height: 24px;
    position: relative;
    top: 3px;
  }

  .toolbar-title-ios {
    text-align: center;
  }

  .check {
    text-align: center;

    .title {
      font-weight: 500;
      font-size: 2rem;
      color: color($colors, grey);
    }

    .subtitle {
      padding: 10px;
    }

    .check-icon {
      margin-top: -40px;
    }

    .announcement-logo {
      width: 200px;
      margin: 10px auto;
    }
  }

  .card,
  ion-card {
    .wallets-list-title {
      display: flex;
      align-items: center;
      max-width: 70%;

      > img {
        margin-right: 7px;
      }

      > span {
        line-height: 18px;
      }
    }

    .title-buttons {
      display: flex;

      button:first-child {
        margin-right: 5px;
      }
    }
  }

  .title {
    font-weight: 500;

    > img {
      margin-right: 7px;
    }
  }

  .error {
    color: color($colors, danger);
  }

  .wallet-ready {
    padding: 0rem;
    margin-bottom: 3rem;

    .row {
      justify-content: flex-end;

      button {
        font-size: 12px;
      }
    }
  }

  page-wallet-activity,
  page-txp {
    @media (max-width: 350px) {
      .item-title {
        font-size: 13px;
      }

      ion-note .date {
        font-size: 11.5px;
      }
    }
  }

  page-txp:first-child,
  page-wallet-activity:first-child {
    & .item-ios {
      border-top: 0.55px solid #f4f4f4;
    }
  }

  page-txp:last-child,
  page-wallet-activity:last-child {
    border: 0;

    & .item-inner {
      border: 0 !important;
    }
  }

  .card {
    z-index: 1;
    position: relative;
    overflow: visible;
  }

  .clipboard-card {
    z-index: 0;
  }

  .initial-margin {
    margin-top: -140px;
  }

  .content-animation {
    z-index: 5;
    margin-top: 0px;
    -webkit-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -moz-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    -o-transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    transition: margin-top 0.7s cubic-bezier(1, 0, 0.93, 0.19) 0.2s;
    animation-name: bounce-card;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
  }

  ion-refresher {
    height: 120px;
    // background: $toolbar-background;

    &-content {
      margin-top: -25px;
    }
  }

  .new-release {
    padding-bottom: 0rem;

    &-icon {
      display: flex;
      justify-content: center;
      margin-top: 3rem;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    &-text {
      text-align: center;
      color: color($colors, dark);
      margin-bottom: 1rem;
    }

    &-button {
      padding: 0rem;

      div {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color($colors, light);
        color: color($colors, dark);
        height: 5rem;
      }
    }
  }

  .server-message {
    padding-bottom: 0rem;

    &-icon {
      display: flex;
      justify-content: center;
      margin-top: 3rem;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    &-content {
      color: color($colors, dark);
      margin-bottom: 1rem;
      white-space: normal;
    }

    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: color($colors, warning);
      margin-bottom: 1rem;
    }

    &-body {
      color: color($colors, grey);
      margin-bottom: 1rem;
    }

    &-button {
      padding: 0rem;

      div {
        cursor: pointer;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color($colors, light);
        color: color($colors, dark);
        height: 5rem;
      }
    }
  }

  .zero-state {
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .prompt-user {
      margin-bottom: 2rem;
    }
  }

  @include fix-ios-bg-scroll();

  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    ion-fab[right] {
      right: env(safe-area-inset-bottom);
    }

    ion-fab[bottom] {
      bottom: env(safe-area-inset-bottom);
    }
  }

  @keyframes bounce-card {
    0% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(40px);
    }

    50% {
      transform: translateY(0);
    }

    57% {
      transform: translateY(5px);
    }

    64% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }
}
