page-import-wallet {
  .card .item-block{
    padding: 20px 8px 0 16px;
    &:first-child{
      padding-top: 4px;
    }
    ion-label {
      font-size:13px;
      font-weight:500;
      color:rgba(20,42,63,1);
      line-height:20px;
      margin: 0;
      margin-bottom: 4px;
    }
    &.title-advanced {
      padding-right: 16px;
      .item-inner{
        padding-bottom: 4px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E5E8EA;
        ion-label {
          font-size:17px;
          font-weight:500;
          color:rgba(110,118,125,1);
          line-height:24px;
        }
      }
    }
  }

  .text-input{
    border-radius:4px;
    padding: 6px 8px;
    margin: 0!important;
    width: 100%!important;
    font-size:15px;
    font-weight:400;
    color:#142A3F;
    line-height:22px;    
    background:rgba(246,247,249,1);
  }

  ion-textarea .text-input {    
    height: 126px;    
  }

  ion-select {
    height:34px;
    background:rgba(246,247,249,1);
    border-radius:4px;
    padding: 6px 8px !important;
    font-size:15px;
    font-weight:400;
    color:rgba(20,42,63,1);
    line-height:22px;
  }

  .assertive {
    color: color($colors, danger);

    ion-label {
      white-space: inherit;
    }
  }

  .hide-validation .item-inner {
    border-bottom-color: #f4f4f4 !important;
    box-shadow: none !important;
  }

  .scanner-icon {
    font-size:13px;
    font-weight:500;
    color:rgba(87,167,86,1);
    line-height:34px;
    width: calc(100% - 32px);
    margin-left: 16px;
    height:34px;
    border-radius:4px;
    border:1px solid rgba(229,232,234,1);
    text-align: center;
    margin-top: 4px;
    img {
      display: inline-block;
      width:14px;
      height:18px;
      margin-right: 5px;
      vertical-align: middle;
      margin-top: -4px;
    }
  }

  $upload-box-height: 200px;

  .upload-hidden {
    opacity: 0;
    height: $upload-box-height;
    z-index: 1;

    &>input {
      height: 100%;
      margin: 0;
      cursor: pointer;
    }
  }

  .ng-invalid+.upload-ui>.filled-message,
  .ng-valid+.upload-ui>.empty-message {
    display: none;
  }

  .upload-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    padding: 18px 1em;
    width: 92%;
    top: 0;
    left: 0;
    margin: 20px 4%;
    height: $upload-box-height - 40px;
    color: #999;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    border: 3px dashed #ddd;
    color: #999;
    font-style: italic;
  }

  .ng-valid+.upload-ui {
    border: 3px solid lighten(color($colors, success), 20%);
    color: color($colors, success);
    background-color: lighten(color($colors, success), 55%);
  }
}