page-settings {

  .content-ios,
  ion-header {
    background: linear-gradient(225deg, rgba(246, 249, 250, 1) 0%, rgba(230, 235, 238, 1) 100%) !important;
  }

  ion-navbar {
    padding: 0 !important;
  }

  ion-list {
    padding-left: 50px;
    background: rgba(248, 250, 251, 1);
  }

  .item-md {
    background: transparent;
  }

  .toolbar-background {
    background: linear-gradient(225deg, rgba(246, 249, 250, 1) 0%, rgba(230, 235, 238, 1) 100%) !important;
  }

  .settings-list .item.item-ios.item-ios,
  .settings-list .item.item-md.item-ios,
  .settings-list .item {
    padding-left: 0px;
    border-bottom: 1px solid rgba(229, 232, 234, 1) !important;
    background: transparent;

  }

  .settings-list .item.item-ios .item-inner,
  .settings-list .item.item-md .item-inner {
    background-image: none;
  }

  ion-label,
  .item-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }

  .icon-wallet,
  .icon-services {
    width: 25px;
    height: 25px;
  }

  .icon-card {
    width: 25px;
    height: 25px;
  }

  .icon-services {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 0rem;
  }

}