page-addressbook-view {
  .contact-view-header {
    position: relative;
    height: 70px;
    // background-color: $toolbar-background;
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    .gravatar {
      border-radius: 3px;
      display: inline-block;
    }
  }
  .btn-send {
    color: color($colors, primary);
  }
  .btn-remove {
    color: color($colors, danger);
  }
  .comment {
    color: color($colors, grey);
    padding-top: 10px;
  }
}
ion-header.address-header {
  .toolbar-title {
    color: #fff;
  }
  .back-button {
    color: #fff;
  }
  .toolbar.toolbar-md .title-md .toolbar-title-md {
    color: #fff;
  }
}
.address-detail {
  background: #f8f8f9 url(../assets/img/img_bg_pattern.png) repeat-x left top;
  .contact-view-header {
    margin-top: 10px;
    padding-top: 0;
  }
  .address-detail-name {
    display: flex;
    padding: 12px 0 0 20px;
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
  }
  .address-detail-email {
    display: flex;
    margin: 0;
    padding: 12px 0 0 20px;
    color: #fff;
    font-size: 1.4rem;
  }
  .item-block {
    // padding-left: 50px;
  }
  ion-list {
    background: #f8f8f9;
  }
  .address-info-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(20, 42, 63, 1);
  }
  .address-info-content {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(110, 118, 125, 1);
    padding: 0;
    margin: 7px 0 0 0;
  }
  ion-label {
    margin: 21px 16px 21px 0;
  }
  .item-inner {
    border-bottom: 1px solid #e5e8ea !important;
    margin-left: 34px;
  }
  .list-ios > .item-block:first-child {
    border: none;
  }
  gravatar {
    float: left;
    margin-left: 50px;
  }
}
