.wallet-details-modal,
.fullscreen-modal {
  .modal-wrapper {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
  ion-backdrop {
    visibility: visible !important;
  }
}

.ios
  .modal-wrapper
  > .ion-page
  > ion-header
  > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}

.fullscreen-modal {
  z-index: 999999 !important;
}

.wallet-details-modal {
  transition: opacity 300ms ease;
  &.scanning {
    opacity: 0;
    pointer-events: none;
  }
}

button.modal-close-button.bar-button {
  font-size: 20px;
  margin-left: 0.3rem;
}
