page-confirm,
confirm-card-purchase {
  .toolbar-background {
    background: transparent !important;
  }

  .toolbar {
    background: transparent !important;
  }

  .toolbar-title {
    font-weight: 500 !important;
  }

  ion-list {
    padding-left: 36px;

    .item {
      background: transparent;
    }
  }

  .wallet-details-header {
    button {
      font-weight: 100;
      font-size: 16px;
    }
  }

  ion-content {

    .fixed-content,
    .scroll-content {
      margin-bottom: 90px;
    }
  }

  .no-margin-bottom {

    .fixed-content,
    .scroll-content {
      margin-bottom: 0px;
    }
  }

  .header-container {
    padding: 20px 0px 20px 0px;

    .sending-label {
      display: flex;
      align-items: center;

      span {
        font-size: 1.8rem;
      }
    }
  }

  .amount-label {
    padding-top: 1rem;

    .amount {
      display: flex;
      font-size: 3.5rem;
      justify-content: space-between;

      .unit {
        font-weight: 400;
      }

      img.sending-img {
        width: auto;
        height: 40px;
      }

      .amount-coin {
        font-size: 1.5rem;
        font-size: 1.5rem;
        margin-top: 0.35rem;
        margin-left: 0.8rem;
      }

      div {
        display: flex;
      }
    }
  }

  .alternative {
    margin-top: 0.5rem;
    color: color($colors, light-grey);
  }

  .item-fee {
    line-height: 20px;

    .fee-title {
      margin-bottom: 5px;
      color: color($colors, grey);
    }

    .fee-loading {
      font-weight: 300;
      color: color($colors, light-grey);
    }

    .fee-amount {
      font-weight: 400;
    }

    .fee-details {
      margin-top: 3px;
      font-size: 12.5px;
      color: color($colors, light-grey);
    }

    &.warn {
      color: color($colors, error);

      .fee-details {
        color: color($colors, error);
      }
    }

    ion-note {
      font-weight: 100;
    }

    &.btn-opacity {
      opacity: 1;
    }
  }

  .item-gravatar {
    img {
      margin-right: 1rem;
    }
  }

  .paypro {
    width: 100%;
    cursor: pointer;
  }

  .no-wallet-message {
    ion-item {
      text-align: center;
      text-transform: uppercase;
    }
  }

  @mixin row-flex {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .container-to,
  .container-from {

    .wallet,
    .payment-proposal-to {
      @include row-flex;

      .icon-wallet {
        margin-right: 1rem;

        &.disabled {
          background-color: color($colors, grey);
        }
      }

      .icon-bitcoin {
        margin: 9px 2rem 9px 0;
        width: 35px;
        height: 35px;
        padding: 5px 10px;
        border: 1px solid color($colors, grey);
        border-radius: $icon-border-radius;
      }

      .text-address.ellipsis {
        flex: 0 0 47px;

        img {
          margin: 12px 0 12px 12px;
          vertical-align: middle;
        }
      }

      &.address-coppied {
        border-radius: 3px;
        background-color: rgb(248, 248, 248);
      }
    }

    &.not-clickable {
      pointer-events: none;
    }
  }

  .last-item {
    margin-left: auto !important;
  }

  .send-check {
    padding: 24px 14px;
    background: linear-gradient(270deg, rgba(246, 249, 250, 1) 0%, rgba(230, 235, 238, 1) 100%);
    text-align: center;

    >p {
      font-size: 14px;
      font-family: Roboto-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 18px;
    }
  }


  .send-title {
    font-size: 13px;
    font-weight: 500;
    color: rgba(20, 42, 63, 1);
    line-height: 20px;
    margin: 20px 0 0px 24px;
  }

  .send-balance {
    font-size: 13px;
    font-weight: 400;
    color: rgba(145, 153, 158, 1);
    line-height: 20px;
    margin: 5px 0 0px 24px;

    span {
      color: #142A3F;
    }
  }

  .send-header-wrapper {
    padding: 10px 16px;
    background-color: white;
    // box-shadow: 0px 5px 10px 0px #cccccc;
  }

  ion-range {
    margin-left: 24px;
  }

  .search-wrapper {
    margin-top: 15px;
    background: rgba(246, 247, 249, 1);
    display: flex;
    align-items: baseline;
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    .item-inner {
      align-items: center;
      margin-left: 0rem !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .scan-icon {
      margin: 0;
      padding: 0.6rem 1rem 1rem 1rem;
      z-index: 999;
    }

    .backspace-icon {
      z-index: 999;
    }

    .bitcoin-icon {
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 1rem;
      height: 1rem;

      // custom icons
      &[class*='search-btc'] {
        mask-image: url(../assets/img/icon-bitcoin-symbol.svg);
        mask-size: 16px;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: #cccccc;
      }
    }
  }

  .confirm-amout-wap {
    padding: 0 15px;

    .confirm-amount {
      background: rgba(246, 247, 249, 1);
      border-radius: 4px;
    }
  }

  .send-equal {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
      width: 22px;
      height: 22px;
      background: rgba(229, 232, 234, 1);
      margin: auto;
      border-radius: 50%;
      color: #142A3F;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }
  }

  ion-textarea {
    // display: block !important;

    .text-input {
      // height: 87px;
      // background: rgba(246, 247, 249, 1);
      // border-radius: 4px;
    }
  }
}