page-search-tx-modal {
  .hint {
    font-size: 14px;
    font-weight: 400;
    color: rgba(163, 173, 180, 1);
    line-height: 18px;
    margin: 0 16px;
  }
  ion-navbar {
    ion-buttons {
      button {
        color: #142a3f !important;
      }
    }
  }

  .tx-history {
    .tx-history-header {
      &--large {
        &.item {
          margin-bottom: 3px;

          ion-label {
            font-size: 15px;
          }
        }
      }

      &.item {
        min-height: 26px;

        ion-label {
          margin: 0;
          font-size: 14px;
        }

        .item-inner {
          padding: 0 !important;
        }
      }
    }

    .item-wrapper {
      &:last-child {
        .item-inner {
          border-bottom: 0;
        }
      }
    }

    .btn-container {
      padding: 0 16px 20px;
    }

    .item {
      font-size: 16px;
      height: 74px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      .item-icon {
        margin-right: 15px;
      }

      .item-inner {
        background-image: url('../assets/img/settings-icons/icon_next@2x.png');
        border-bottom: 0;
      }
    }

    img {
      width: 24px;
    }

    .action,
    .amount {
      font-size: 18px;
      font-weight: 500;
      color: rgba(20, 42, 63, 1);
      line-height: 20px;
    }

    .sub-description {
      margin-top: 6px;
      font-size: 15px;
      font-weight: 400;
      color: rgba(145, 153, 158, 1);
      line-height: 16px;
    }

    .note {
      width: 60%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 20px;
      vertical-align: middle;
    }

    .txs-count {
      color: color($colors, grey);
      text-align: center;
      font-size: 12px;
      padding-top: 0.5rem;
    }
  }
}
