<ion-header>
  <ion-navbar transparent>
    <ion-buttons right>
      <button (click)="close(true)" ion-button color="primary" *ngIf="action === 'pinSetUp' || action === 'lockSetUp'">
        {{'Cancel' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce fullscreen>
  <div class="pin-header">
    <div class="title">
      <div *ngIf="!disableButtons">
        <span class="message" *ngIf="!confirmingPin && !incorrect" translate>{{(action === 'pinSetUp' || action === 'initPin')? 'Set Wallet PIN':'Check Wallet PIN'}}</span>
        <span class="message" *ngIf="confirmingPin && !incorrect" translate>Repeat PIN</span>
        <span class="message" *ngIf="incorrect" translate>Incorrect PIN, try again.</span>
      </div>
      <div *ngIf="disableButtons">
        <span class="message" *ngIf="expires" translate>Try again in {{expires}}</span>
      </div>
    </div>
    <pin-dots [pin]="currentPin" animate></pin-dots>
    <p class="hint" *ngIf="!confirmingPin && !incorrect">
      {{(action === 'pinSetUp' || action === 'initPin')? 'This pin will be used to unlock your wallet or grant transfer.':'Please enter your PIN to grant permission to proceed to the next step.'}}
    </p>
    <p class="hint" *ngIf="confirmingPin && !incorrect">
      Tap the pin again to confirm.
    </p>
    <!-- <div class="icon-container">
      <ion-icon class="app-icon">
        <img src="assets/img/app/icon-flat.svg" />
      </ion-icon>
    </div> -->
  </div>
  <div class="code-wrapper">
    <pin-pad (keystroke)="newEntry($event)" type="pin"></pin-pad>
  </div>
</ion-content>