page-backup-game {
  .slide-container {
    height: 100%;
    // max-height: 398px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @media (max-height: 550px) {
      align-items: baseline;
    }
    .slide-body {
      min-width: 80%;
    }
  }
  .deleted-title {
    text-align: center;
  }
  .slide-title {
    padding: 26px 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(20, 42, 63, 1);
    line-height: 24px;
  }
  .swiper-pagination {
    display: none;
  }
  .slide-zoom {
    height: 100%;
  }
  .password {
    background-color: color($colors, light);
    padding: 2rem;
  }
  .phrase-container {
    margin: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #192c3a;
    text-align: center;
    max-width: 343px;
    min-height: 9rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    .phrase {
      padding: 28px 16px;
      font-weight: bold;
      line-height: 2;
      font-size: 16px;
      letter-spacing: 1px;
      @media (min-width: 575px) {
        font-size: 18px;
        padding: 3rem;
      }
      @media (max-height: 550px) {
        font-size: 16px;
        padding: 1rem;
      }
      .button {
        height: 3rem;
        font-size: 14px;
      }
      .word-container {
        background: rgba(229, 232, 234, 1);
        text-align: left;
        padding: 8px 6px;
        .index {
          font-size: 12px;
          font-weight: 400;
          color: rgba(110, 118, 125, 1);
          line-height: 14px;
          margin-bottom: 8px;
        }
        .word {
          font-size: 14px;
          font-family: Roboto-Regular;
          font-weight: 400;
          color: rgba(20, 42, 63, 1);
          line-height: 18px;
        }
      }
      .row {
        .col {
          padding: 2px;
        }
        .col:first-child .word-container {
          border-radius: 4px 0px 0px 0px;
        }
        .col:nth-child(3) .word-container {
          border-radius: 0px 4px 0px 0px;
        }
        .col:nth-child(10) .word-container {
          border-radius: 0px 0px 0px 4px;
        }
        .col:nth-child(12) .word-container {
          border-radius: 0px 0px 4px 0px;
        }
      }
      .hint {
        font-size: 15px;
        font-weight: 400;
        color: rgba(110, 118, 125, 1);
        line-height: 18px;
        margin-top: 20px;
      }
    }
  }
  .phrase-container:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 80%;
    left: 10%;
    bottom: -10px;
    height: 40px;
    background: linear-gradient(
      270deg,
      rgba(11, 54, 74, 1) 0%,
      rgba(11, 77, 74, 1) 100%
    );
    opacity: 0.2;
    filter: blur(10px);
  }
  .words {
    max-width: 500px;
    margin: 0 auto;
    .button {
      height: 3rem;
      font-size: 14px;
      margin: 5px;
    }
  }
  .bottom-absolute {
    padding: 0px;
    bottom: 2rem;
    .button-footer {
      color: color($colors, primary);
      max-width: 100%;
      margin: 0;
      font-size: 1.2rem;
    }
    .footer-text {
      font-size: 12.5px;
      color: color($colors, grey);
    }
  }
  .slide-container.check-slide {
    .phrase-container {
      padding: 28px 16px;
      .phrase {
        background: rgba(246, 247, 249, 1);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24) inset;
        border-radius: 4px;
        min-height: 156px;
        padding: 12px;
        text-align: left;
        .button {
          background: linear-gradient(
            270deg,
            rgba(110, 118, 125, 1) 0%,
            rgba(128, 138, 148, 1) 100%
          );
          box-shadow: 0px 2px 4px 0px rgba(87, 167, 86, 0.1);
          border-radius: 4px;
          height: 24px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 16px;
        }
        .button.wrong {
          background: linear-gradient(
            270deg,
            rgba(250, 161, 97, 1) 0%,
            rgba(247, 107, 28, 1) 100%
          );
        }
      }
      .hint {
        font-size: 15px;
        font-weight: 400;
        color: rgba(110, 118, 125, 1);
        line-height: 18px;
      }
      .hint.invisible {
        visibility: hidden;
        font-size: 14px;
        font-weight: 400;
        color: rgba(245, 113, 35, 1);
        line-height: 18px;
        margin-top: 20px;
        margin-bottom: 16px;
      }
      .hint.wrong {
        visibility: visible;
      }
      .words {
        margin: 16px -16px;
        .button {
          height: 24px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 16px;
        }
      }
    }
  }
}
