<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!edit">{{ 'Create New Address' | translate }}</ion-title>
    <ion-title *ngIf="edit">{{ 'Edit Address Name' | translate }}</ion-title>
    <ion-buttons end> <button class="header-option" (click)="confirm()" [disabled]="addressAddForm.invalid">{{ edit ? 'Save':'Create' | translate }}</button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="addressAddForm" class="add-address-form">
      <ion-item>
        <ion-label stacked>{{ 'Address Name' | translate }}</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Default"></ion-input>
      </ion-item>
    </form>
    <p class="hint" translate>This helps you identify the addresses, you can always replace it if you need to.</p>
  </ion-card>
</ion-content>
