page-wallet-settings {
  .assertive {
    color: color($colors, danger);

    ion-label {
      white-space: inherit;
    }
  }

  ion-content {
    background: url('../assets/img/img_bg_pattern.png') repeat-x;
  }

  .item-text {
    font-size: 12.5px;
  }

  .settings-color-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 1rem;
    background-color: color($colors, primary);
  }

  .item-md {
    padding-left: 36px;
    padding-right: 16px;
    background: #f8f8f8;
  }

  .settings-list .item {
    border-bottom: 1px solid #e5e8ea;
  }

  ion-header {
    .back-button {
      color: #fff !important;
      font-weight: 500;
    }

    .toolbar-title {
      color: #fff !important;
      font-weight: 500;
    }
  }

  ion-list {
    background: #f8fafb;
    padding-left: 30px;

    .item {
      background: #f8fafb;
    }
  }

  .delete span {
    color: #d0021b;
  }

  .wallet-set-title {
    height: 108px;
    padding-left: 50px;
    margin-bottom: 10px;

    .set-detail {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 16px;
    }

    .set-name {
      font-size: 24px;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 0;
      padding-top: 14px;
    }
  }

  .set-detail {
    position: relative;
    background: rgba(255, 255, 255, 0.1736);
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;

    & > img {
      width: 16px;
      height: 16px;
      background: transparent;
      position: absolute;
    }

    & > span {
      margin-left: 20px;
    }
  }
}
