page-wallet-details {
  ion-content {
    background: url('../assets/img/img_bg_pattern.png') repeat-x;
    background-color: #f8fafb !important;
  }

  ion-content.has-refresher > .scroll-content {
    background: transparent;
  }

  ion-header .toolbar-title {
    color: white !important;
  }

  $icon-width: 36px;

  ion-refresher {
    height: 120px;

    &-content {
      margin-top: -25px;
    }

    .refresher-pulling ion-icon {
      color: white;
    }

    .refresher-refreshing {
      .spinner-crescent circle,
      .spinner-ios line {
        stroke: white;
      }
    }
  }

  ion-header,
  .toolbar-background {
    background-color: rgba(0, 0, 0, 0) !important;

    &:after {
      height: 0 !important;
    }
  }

  .search-icon {
    font-size: 2.5rem;
  }

  .balance-card {
    // background: color($colors, primary);
    overflow: visible;
  }

  .balance-header {
    margin-top: 15px;
    height: 12rem;
    color: color($colors, light);
    // text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  .balance-str {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: rgba(20, 42, 63, 1);
    line-height: 28px;
  }

  .balance-alt-str {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(110, 118, 125, 1);
    line-height: 16px;
  }

  .balance-hidden {
    .title {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .balance-error {
    .title {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .balance-spendable {
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer;

    ion-icon {
      vertical-align: text-bottom;
      margin-right: 5px;
    }
  }

  .balance-scanning {
    .title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .tabs-wrapper {
    margin-top: -36px;
    background: #f8fafb;
    padding: 18px 16px 0 16px;
    line-height: 58px;

    .tabs-inner-wrapper {
      border-bottom: 1px solid #e5e8ea;
    }

    .tab-btn {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      color: rgba(163, 173, 180, 1);
      line-height: 16px;
      position: relative;
      margin-right: 28px;

      &.active {
        color: rgba(0, 0, 0, 1);
      }

      &.active:after {
        content: '';
        position: absolute;
        left: calc(50% - 2px);
        bottom: -12px;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: rgba(0, 0, 0, 1);
      }
    }

    .add-addr-btn,
    .edit-addr-btn,
    .done-addr-btn,
    .search-tx-btn,
    ion-spinner {
      display: inline-block;
      margin-top: 20px;
      float: right;
      width: 18px;
      height: 18px;
      line-height: 18px;

      img {
        width: 18px;
      }
    }

    ion-spinner {
      * {
        stroke: #6e767d;
      }
    }

    .done-addr-btn {
      width: auto;
      font-size: 14px;
      font-weight: bold;
      color: rgba(87, 167, 86, 1);
      line-height: 16px;
    }

    .add-addr-btn {
      margin-right: 18px;
    }
  }

  .history-wrapper,
  .address-wrapper {
    background: rgba(248, 250, 251, 1);

    .list {
      margin: 0;
    }
  }

  .address-wrapper {
    padding-bottom: 50px;

    .list {
      .item {
        background: transparent;

        .item-inner {
          padding-right: 16px;
          border-bottom: 0;
        }

        .input-wrapper {
          border-bottom: 1px solid #e5e8ea;
        }

        .label {
          position: relative;
          margin: 18px 0;

          h3 {
            font-size: 15px;
            font-weight: 400;
            color: rgba(20, 42, 63, 1);
            line-height: 18px;
            margin-bottom: 6px;

            span {
              font-size: 12px;
              font-weight: bold;
              color: rgba(87, 167, 86, 1);
              line-height: 18px;
              margin-left: 6px;
            }

            .unused-mark {
              display: inline-block;
              position: relative;
              margin-left: 6px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: 1px solid rgba(189, 225, 188, 1);
              vertical-align: middle;
            }

            .unused-mark:before {
              content: '';
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: rgba(87, 167, 86, 1);
              left: 1px;
              top: 1px;
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(110, 118, 125, 1);
            line-height: 16px;
            margin: 0;
            padding-right: 40px;
          }
        }

        .selected {
          position: absolute;
          display: inline-block;
          width: 18px;
          height: 18px;
          top: 11px;
          right: 0;

          img {
            width: 18px;
          }
        }

        ion-icon {
          position: absolute;
          display: inline-block;
          width: 18px;
          height: 18px;
          top: 11px;
          right: 0;
        }
      }
    }
  }

  // .history-wrapper{

  // }
  .tx-history {
    .tx-history-header {
      &--large {
        &.item {
          margin-bottom: 3px;

          ion-label {
            font-size: 15px;
          }
        }
      }

      &.item {
        min-height: 26px;

        ion-label {
          margin: 0;
          font-size: 14px;
        }

        .item-inner {
          padding: 0 !important;
        }
      }
    }

    .item-wrapper {
      margin: 0 16px;
      border-bottom: 1px solid #e5e8ea;
      // &:last-child {
      //   .item-inner {
      //     border-bottom: 0;
      //   }
      // }
    }

    .item {
      font-size: 16px;
      padding-left: 0;
      background: transparent;

      .item-icon {
        margin-right: 15px;
      }

      .item-inner {
        background-image: none;
        padding: 4px 0;
        margin-left: 3px;
        // margin-right: 16px;
      }
    }

    img {
      width: 24px;
    }

    .action {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 18px;

      .pending-mark {
        width: 56px;
        height: 18px;
        background: #57a756;
        border-radius: 4px;
        margin-left: 4px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 14px;
        padding: 1px 6px;
      }
    }

    .amount {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(20, 42, 63, 1);

      .received {
        color: rgba(60, 119, 59, 1);
      }

      .sent {
        color: rgba(175, 57, 0, 1);
      }
    }

    .date {
      font-size: 14px;
      margin-top: 6px;
      font-weight: 400;
      color: rgba(110, 118, 125, 1);
      line-height: 16px;
    }
  }

  .middle-message {
    padding-top: 36px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wallet-info {
    font-weight: 400;
    color: color($colors, light);
    display: block;
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 5px;

    img {
      float: left;
      margin-right: 3px;
    }

    .testnet {
      height: 2rem;
      width: 2rem;
      margin-top: 5px;
    }

    .testnet-text {
      color: color($colors, light);
      height: 3rem;
      width: 4rem;
    }

    .read-only {
      height: 3rem;
      width: 2rem;
    }

    .read-only-text {
      height: 3rem;
      width: 5rem;
    }

    .auditable-text {
      height: 3rem;
      width: 4rem;
    }

    .custom-bws {
      height: 3rem;
      width: 3rem;
    }

    .encrypted {
      height: 1.6rem;
      width: 1.6rem;
      margin-top: 5px;
    }

    .wallet-type {
      display: block;
      float: left;
      margin: 0 5px;
      padding-top: 5px;
      font-size: 11px;
    }

    .left-buttons {
      flex-grow: 1;
      padding-left: 2px;
    }

    // .search-button {
    //   padding: 0;
    //   padding-bottom: 8px;
    // }
    // ion-spinner {
    //   margin: 0;
    //   width: 20px;
    //   height: 20px;
    //   * {
    //     stroke: #6E767D;
    //   }
    // }
  }

  .icon-services {
    border-radius: 50%;
    width: $icon-width;
    height: $icon-width;
    box-shadow: none;
    border: 1px solid #d7d7d7;
  }

  .locked-balance.item {
    .item-inner {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .total-locked-amount {
    color: color($colors, dark);
  }

  .total-alt-locked-amount,
  .double-spend {
    text-align: end;
    font-size: 12.5px;
  }

  .zero-state {
    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .history-wrapper {
      align-items: center;
      flex-grow: 1;
      display: flex;
      width: 100%;
    }

    .prompt-user {
      margin-bottom: 2rem;
    }
  }

  .scroll-content .wrapper {
    background-color: transparent;

    .card {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0 8px;
      z-index: 2;
      position: relative;

      .grid {
        color: rgba(20, 42, 63, 1);

        .row {
          &:first-child {
            margin-top: 20px;
            padding-bottom: 11px;

            .col:nth-child(2) {
              img {
                width: 48px;
                height: 48px;
                display: inline-block;
                float: right;
              }
            }
          }

          &.address-row {
            height: 36px;
            background: rgba(246, 247, 249, 1);
            margin: 0px -13px;
            padding: 0 18px;
            border-top: 1px solid rgba(229, 232, 234, 1);
            border-bottom: 1px solid rgba(229, 232, 234, 1);
            position: relative;

            .address {
              font-size: 12px;
              font-weight: 400;
              line-height: 34px;
              color: rgba(110, 118, 125, 1);
              padding-right: 67px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              word-break: break-all;
            }

            .copy-button {
              display: inline-block;
              position: absolute;
              top: 6px;
              right: 18px;
              width: 55px;
              height: 20px;
              background: linear-gradient(
                270deg,
                rgba(181, 189, 194, 1) 0%,
                rgba(145, 153, 158, 1) 100%
              );
              border-radius: 10px;
              font-size: 14px;
              font-weight: 500;
              color: rgba(255, 255, 255, 1);
              line-height: 20px;
              text-align: center;
            }
          }

          &:last-child {
            padding-top: 7px;

            .col {
              text-align: center;
            }

            a {
              font-size: 16px;
              font-weight: 500;
              color: rgba(110, 118, 125, 1);
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            a > img {
              width: 20px;
              height: 20px;
              display: inline-block;
              margin-right: 9px;
            }

            .col:first-child a {
              border-right: 2px solid rgba(246, 247, 249, 1);
            }
          }
        }
      }
    }
  }
}

.wallet-details-header {
  ion-title .toolbar-title {
    font-weight: 500;
  }

  &:not(.no-subtitle) {
    ion-title .toolbar-title {
      font-weight: 100;
      font-size: 16px;
    }
  }

  ion-toolbar {
    min-height: 0;
    margin-top: -6px;

    &.toolbar-md {
      padding-top: 0;
    }
  }

  &__balance,
  &__balance-hidden,
  &__subtitle {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;

    ion-icon {
      font-size: 16px;
      font-weight: 100;
      margin-left: 5px;
    }
  }
}
