<ion-header no-border class="wallet-details-header">
  <ion-navbar>
    <ion-buttons left>
      <button class="modal-close-button" (click)="close()" ion-button>
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{wallet.name}}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="goToPreferences()">
        <img src="assets/img/icon-settings.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce #scrollArea [ngClass]="{'zero-state': shouldShowZeroState()}">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="90" pullMax="180">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <ion-card>
      <expandable-header class="balance-card" [scrollArea]="scrollArea">
        <expandable-header-primary class="balance-header">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div (longPress)="toggleBalance()">
                  <div (tap)="updateAll(true)" *ngIf="!updateStatusError && !wallet.balanceHidden && !wallet.scanning && wallet.status">
                    <div class="balance-str">{{wallet.status && wallet.status.totalBalanceStr}}</div>
                    <div class="balance-alt-str">
                      {{wallet.status && wallet.status.totalBalanceAlternative}} {{wallet.status &&
                      wallet.status.alternativeIsoCode}}
                    </div>
                  </div>

                  <div class="balance-hidden" *ngIf="!updateStatusError && wallet.balanceHidden  && !wallet.scanning">
                    <span class="title" translate>[Balance Hidden]</span>
                    <div translate>
                      Tap and hold to show
                    </div>
                  </div>
                </div>

                <div class="balance-scanning" *ngIf="!updateStatusError && wallet.scanning">
                  <span class="title" translate>[Scanning Funds]</span>
                  <div translate>
                    Please wait...
                  </div>
                </div>

                <!-- <div class="balance-spendable" (click)="openBalanceDetails()" *ngIf="!wallet.balanceHidden && !wallet.scanning && showBalanceButton && wallet.status">
                  <ion-icon ios="ios-timer-outline" md="md-timer"></ion-icon>
                  <strong>
                    {{wallet.status.spendableBalanceStr}}
                  </strong>
                  &nbsp;
                  <span>
                    ({{wallet.status.spendableBalanceAlternative}} {{wallet.status && wallet.status.alternativeIsoCode}})
                  </span>
                  &rarr;
                </div> -->

                <div class="balance-error" *ngIf="updateStatusError" (tap)="updateAll(true)">
                  <span class="title" translate>Tap to retry</span>
                  <div>{{updateStatusError}}.</div>
                </div>
                <div class="balance-error" *ngIf="walletNotRegistered" (tap)="recreate()">
                  <span class="title" translate>Tap to recreate</span>
                  <div translate>This wallet is not registered at the given Bitcore Wallet Service (BWS). You can
                    recreate it
                    from the local information.</div>
                </div>
              </ion-col>
              <ion-col>
                <img *ngIf="wallet.network == 'testnet'" src="assets/img/img_wallet_BTC@2x.png" />
                <img *ngIf="wallet.network != 'testnet' && wallet.coin=='btc'" src="assets/img/img_wallet_BTC@2x.png" />
                <img *ngIf="wallet.network != 'testnet' && wallet.coin=='bch'" src="assets/img/img_wallet_BCH@2x.png" />
                <img *ngIf="wallet.network != 'testnet' && wallet.coin=='eth'" src="assets/img/img_wallet_ETH@2x.png" />
                <img *ngIf="wallet.network != 'testnet' && wallet.coin=='try'" src="assets/img/img_wallet_TRI@2x.png" />
              </ion-col>
            </ion-row>
            <ion-row class="address-row">
              <div class="address">{{address}}</div>
              <div class="copy-button" copy-to-clipboard="{{address}}">
                COPY
              </div>
            </ion-row>
            <ion-row>
              <ion-col>
                <a (click)="send()"><img src="assets/img/icon_send@2x.png" alt="">Send</a>
              </ion-col>
              <ion-col>
                <a (click)="receive()"><img src="assets/img/icon_receive@2x.png" alt="">Receive</a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </expandable-header-primary>
        <expandable-header-footer class="wallet-info" *ngIf="wallet" style="display: flex; align-items: center">

          <div class="left-buttons">
            <img class="testnet" *ngIf="wallet.network == 'testnet'" src="assets/img/icon-wallet-testnet.svg">
            <img class="testnet-text" *ngIf="wallet.network == 'testnet'" src="assets/img/icon-text-testnet.svg">
            <img class="read-only" *ngIf="!wallet.canSign()" src="assets/img/icon-read-only.svg">
            <img class="read-only-text" *ngIf="!wallet.canSign()" src="assets/img/icon-text-read-only.svg">
            <img class="auditable-text" *ngIf="wallet.status && wallet.status.wallet && wallet.status.wallet.singleAddress"
              src="assets/img/icon-text-auditable.svg">
            <img class="custom-bws" *ngIf="wallet.usingCustomBWS" src="assets/img/icon-bws-white.svg">
            <img class="encrypted" *ngIf="wallet.isPrivKeyEncrypted()" src="assets/img/icon-lock-white.svg">

            <span class="wallet-type" *ngIf="wallet.credentials.n > 1">
              <span translate>{{wallet.m}}-of-{{wallet.n}}</span>
            </span>
          </div>
        </expandable-header-footer>

      </expandable-header>
    </ion-card>
    <!-- 
    <div *ngIf="wallet.network == 'testnet'" class="box-notification warning">
      <a class="energized" (click)="openExternalLink('https://support.bitpay.com/hc/en-us/articles/360004102011-What-is-testnet-How-do-I-avoid-testnet-Bitcoin-scams-')">
        <ion-icon name="warning"></ion-icon>
        {{'Learn more about testnet blockchain' | translate}}
        <ion-icon name="arrow-forward"></ion-icon>
      </a>
    </div> -->

    <div *ngIf="lowUtxosWarning && wallet.network == 'livenet'" class="box-notification warning">
      <a class="energized" (click)="openAddresses()">
        <ion-icon name="alert"></ion-icon>
        {{'Spending this balance will need significant Bitcoin network fees'|translate}}
        <ion-icon name="arrow-forward"></ion-icon>
      </a>
    </div>

    <div class="tabs-wrapper">
      <div class="tabs-inner-wrapper">
        <a class="tab-btn" [ngClass]="{'active': selectedTab=='transactions'}" (click)="selectTab('transactions')">{{
          'Transactions' | translate }}</a>
        <a class="tab-btn" [ngClass]="{'active': selectedTab=='addresses'}" (click)="selectTab('addresses')">{{
          'Addresses' | translate }}</a>
        <div *ngIf="selectedTab == 'addresses' && !editingAddr" class="edit-addr-btn" (click)=" this.editingAddr = true"><img
            src="assets/img/icon_editName@2x.png" alt=""></div>
        <div *ngIf="selectedTab == 'addresses' && !editingAddr" class="add-addr-btn" (click)="createAddress()"><img src="assets/img/icon_addAddr@2x.png"
            alt=""></div>
        <div *ngIf="selectedTab == 'addresses' &&  editingAddr" class="done-addr-btn" (click)=" this.editingAddr = false">Done</div>

        <div class="search-tx-btn" *ngIf="selectedTab=='transactions' && wallet && wallet.completeHistory && wallet.completeHistory.length > 4 && !shouldShowSpinner()"
          (click)="openSearchModal()">
          <img src="assets/img/icon_search@2x.png">
        </div>

        <ion-spinner name="crescent" *ngIf="selectedTab=='transactions' && shouldShowSpinner()"></ion-spinner>
      </div>
    </div>
    <div class="history-wrapper" *ngIf="selectedTab == 'transactions'">

      <ion-list *ngIf="wallet && wallet.isComplete() && !walletNotRegistered && txps && txps[0]" class="tx-history">
        <ion-item-divider *ngIf="wallet.incorrectDerivation">
          <span translate>
            WARNING: Key derivation is not working on this device/wallet. Actions cannot be performed on this wallet.
          </span>
        </ion-item-divider>
        <ion-item-divider class="tx-history-header tx-history-header--large">
          <span *ngIf="requiresMultipleSignatures" translate>Proposals</span>
          <span *ngIf="!requiresMultipleSignatures" translate>Unsent transactions</span>
        </ion-item-divider>
        <page-txp *ngFor="let txp of txps" [tx]="txp" [addressbook]="addressbook"></page-txp>
        <ion-item *ngIf="wallet.status && wallet.status.lockedBalanceSat" class="locked-balance">
          <span translate>Total Locked Balance</span>
          <ion-note item-end>
            <span class="total-locked-amount">{{wallet.status && wallet.status.lockedBalanceStr}}</span>
            <div class="total-alt-locked-amount">{{wallet.status && wallet.status.lockedBalanceAlternative}}
              {{wallet.status && wallet.status.alternativeIsoCode}}</div>
          </ion-note>
        </ion-item>
      </ion-list>

      <!-- Transactions -->


      <div class="prompt-user activity-fix" *ngIf="shouldShowZeroState()">
        <div class="title-icon larger-icon">
          <img src="assets/img/img_TxEmpty@2x.png" />
        </div>
        <div class="subtitle-info">
          <span translate>Transactions history will show here after you send or receive money from other accounts.</span>
        </div>
      </div>

      <div class="middle-message" *ngIf="history && !history[0] && updateTxHistoryError" translate>
        Could not update transaction history
      </div>

      <div class="middle-message" *ngIf="updatingTxHistory && updatingTxHistoryProgress>5">
        <span translate>Updating transaction history. Please stand by.</span>
        <br>
        <span translate>{{updatingTxHistoryProgress}} transactions downloaded</span>
      </div>

      <ion-list *ngIf="history && history[0]" class="tx-history">
        <ion-item-group>

          <!-- <ion-item-divider sticky class="tx-history-header">
            <span translate *ngIf="isDateInCurrentMonth(getDate(group[0].time))">Recent</span>
            <span *ngIf="!isDateInCurrentMonth(getDate(group[0].time))">{{getDate(group[0].time) |
              amDateFormat:'MMMM'}}</span>
          </ion-item-divider> -->

          <div class="item-wrapper" *ngFor="let tx of history; trackBy: trackByFn; let i = index">

            <button ion-item (click)="goToTxDetails(tx)">
              <ion-icon class="item-img" item-start>
                <!-- <div *ngIf="tx.confirmations == 0">
                  <img src="assets/img/tx-action/icon-confirming.svg" width="40">
                </div> -->
                <div>
                  <span *ngIf="tx.customData && tx.customData.service">
                    <img class="icon-services" src="assets/img/shapeshift/icon-shapeshift.svg" *ngIf="tx.customData.service == 'shapeshift'"
                      width="40">
                    <img class="icon-services" src="assets/img/gift-cards/amazon/amazon-icon.svg" *ngIf="tx.customData.service === 'amazon'"
                      width="40">
                    <img class="icon-services" src="assets/img/gift-cards/mercado-libre/mercado-livre-icon.svg" *ngIf="tx.customData.service === 'mercadolibre'"
                      width="40">
                    <img class="icon-services" [src]="giftCardProvider.getIcon(tx.customData.giftCardName)" *ngIf="tx.customData.service === 'giftcards'"
                      width="40">
                    <img class="icon-services" src="assets/img/bitpay-card/icon-bitpay.svg" *ngIf="tx.customData.service == 'debitcard'"
                      width="40">
                  </span>
                  <span *ngIf="tx.customData && tx.customData.toWalletName && !tx.customData.service">
                    <img src="assets/img/tx-action/icon_sent@2x.png" *ngIf="tx.action == 'sent'" width="40">
                  </span>
                  <span *ngIf="!tx.customData || (tx.customData && !tx.customData.service && !tx.customData.toWalletName)">
                    <img src="assets/img/tx-action/icon_sent@2x.png" *ngIf="tx.action == 'sent'" width="40">
                  </span>
                  <span>
                    <img src="assets/img/tx-action/icon_received@2x.png" *ngIf="tx.action == 'received'" width="40">
                    <img src="assets/img/tx-action/icon_moved@2x.png" *ngIf="tx.action == 'moved'" width="40">
                  </span>
                </div>
              </ion-icon>

              <div class="action" *ngIf="tx.confirmations == 0">
                <span *ngIf="(tx.action == 'sent') && !(addressbook && tx.outputs[0] && addressbook[tx.outputs[0].address])">{{'Sending'
                  | translate}}</span>
                <span *ngIf="(tx.action == 'moved') && !(addressbook && tx.outputs[0] && addressbook[tx.outputs[0].address])">{{'Moving'
                  | translate}}</span>
                <span *ngIf="(tx.action == 'sent' || tx.action == 'moved') && (addressbook && tx.outputs[0] && addressbook[tx.outputs[0].address])">{{addressbook[tx.outputs[0].address].name
                  || addressbook[tx.outputs[0].address]}}</span>
                <span *ngIf="tx.action == 'received'">{{'Receiving' | translate}}</span>
                <span class="pending-mark">Pending</span>
              </div>

              <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'received'">
                <span *ngIf="(!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !addressbook[tx.outputs[0].address])">{{'Received'
                  | translate}}</span>
                <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
                <span *ngIf="addressbook && tx.outputs[0] && addressbook[tx.outputs[0].address]">
                  {{addressbook[tx.outputs[0].address].name || addressbook[tx.outputs[0].address]}}
                </span>
              </div>

              <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'sent'">
                <span *ngIf="(tx.message && (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !addressbook[tx.outputs[0].address]) && (!tx.customData || !tx.customData.toWalletName)"
                  translate>Sent</span>
                <span *ngIf="!tx.message && (!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !addressbook[tx.outputs[0].address]) && (!tx.customData || !tx.customData.toWalletName)">{{'Sent'
                  | translate}}</span>
                <span *ngIf="!tx.message && (!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !addressbook[tx.outputs[0].address]) && (tx.customData && tx.customData.toWalletName)">
                  {{ 'Sent to {walletName}' | translate: {walletName: tx.customData.toWalletName} }}
                </span>
                <span *ngIf="!tx.note && tx.message">{{tx.message}}</span>
                <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
                <span *ngIf="!tx.message && addressbook && tx.outputs[0] && addressbook[tx.outputs[0].address]">
                  {{addressbook[tx.outputs[0].address].name || addressbook[tx.outputs[0].address]}}
                </span>
              </div>

              <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'moved'">
                <span *ngIf="(tx.message && (tx.note && !tx.note.body))" translate>Moved</span>
                <span *ngIf="((!tx.note || (tx.note && !tx.note.body)) && !tx.message)" translate>Moved</span>
                <span *ngIf="!tx.note && tx.message">{{tx.message}}</span>
                <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
              </div>

              <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'invalid'">
                <span class="assertive" *ngIf="!tx.message && !tx.note" translate>Invalid</span>
              </div>


              <div class="date">
                <span *ngIf="tx.time && createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amTimeAgo}}</span>
                <span *ngIf="tx.time && !createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amDateFormat:'MMM
                  D, YYYY'}}</span>
              </div>
              <ion-note item-end text-end>
                <div class="amount">
                  <span [ngClass]="{'received': tx.action == 'received','sent': tx.action=='sent'}" *ngIf="tx.action != 'invalid'">{{tx.action
                    == 'received'?'+':(tx.action == 'sent'?'-':'')}}{{wallet.coin !== 'eth' && wallet.coin !== 'try' ?
                    (tx.amount | satToUnit:
                    wallet.coin) : (tx.amount | weiToUnit: wallet.coin)}}</span>
                  <span class="double-spend" *ngIf="tx.action == 'invalid'" translate>(possible double spend)</span>
                </div>
              </ion-note>
            </button>
          </div>
        </ion-item-group>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="loadHistory($event)" *ngIf="!shouldShowZeroState()">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
    <div class="address-wrapper" *ngIf="selectedTab == 'addresses'">
      <div class="middle-message" *ngIf="loadingAddr">
        <ion-spinner icon="crescent"></ion-spinner>
        <span translate>Loading addresses...</span>
      </div>

      <ion-list *ngIf="!loadingAddr" class="addresses-list">
        <div *ngIf="noBalance && noBalance[0]">
          <!-- <ion-item-divider>{{'Unused addresses' | translate}}</ion-item-divider> -->
          <ion-item *ngFor="let u of noBalance" (click)="editingAddr? editAddressName(u.address,u.name): this.address = u.address">
            <h3>{{u.name}} <span class="unused-mark"></span></h3>
            <!-- <p>{{u.path}} {{u.createdOn * 1000 | amDateFormat:'MMMM Do YYYY, hh:mm a'}}</p> -->
            <p>{{u.address}}</p>
            <div class="selected" *ngIf="u.address == address && !editingAddr"><img src="assets/img/app/onboarding/icon_checkmark@2x.png"
                alt=""></div>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" *ngIf="editingAddr"></ion-icon>
          </ion-item>
        </div>

        <div *ngIf="withBalance && withBalance[0]">
          <!-- <ion-item-divider>{{'Addresses with balance' | translate}}</ion-item-divider> -->
          <ion-item *ngFor="let w of withBalance" (click)=" editingAddr? editAddressName(w.address): this.address = w.address">
            <h3>{{w.name}} <span>{{wallet.coin!=='eth' && wallet.coin!=='try'? (w.amount | satToUnit:
                wallet.coin):(w.amount | weiToUnit:
                wallet.coin)}}</span></h3>
            <p>{{w.address}}</p>
            <div class="selected" *ngIf="w.address == address && !editingAddr"><img src="assets/img/app/onboarding/icon_checkmark@2x.png"
                alt=""></div>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" *ngIf="editingAddr"></ion-icon>
          </ion-item>
        </div>

      </ion-list>
    </div>
  </div>
</ion-content>
<tabs-bar selectedTab="home"></tabs-bar>